@page
@model LoginModel

@{
    Layout = "_ViewIdentity";
}


<div class="row">
    <div class="col-md-4 mx-auto">
        <section class="border rounded-3 p-4 shadow">
            <h2>Sign In</h2>
            <p>
                New User? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account</a>
            </p>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email/UserName</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="row justify-content-center">
                    <button id="login-submit" type="submit" class="btn btn-md btn-primary rounded-3" style="background-color: #35374B;">Log in</button>
                </div>
                <hr />
            </form>
            <div class="row justify-content-center">
                <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-sm btn-link">Forgot your password</a>
            </div>
            <div class="row justify-content-center">
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn btn-sm btn-link">Resend email confirmation</a>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}