.vs/
/TravelGroupAssignment1/TravelGroupAssignment1/bin
/TravelGroupAssignment1/TravelGroupAssignment1/obj
/TravelGroupAssignment1/TravelGroupAssignment-UnitTesting/bin
/TravelGroupAssignment1/TravelGroupAssignment-UnitTesting/obj
